:root {
    --swiper-theme-color: #203b7a;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    width: auto;

    .swiper-pagination-bullet {
        background: var(--text);
        width: 10px;
        height: 10px;
        opacity: 1;
        transition: .25s;

        &-active {
            background: var(--primary);
        }

        @include media('<sm') {
            width: 5px;
            height: 5px;
            margin: 0 3px;
        }
    }
}