{% set title = "Связь веков" %}
{% extends "layouts/main.njk" %}

{% block content %}
<section class="head-section pb-indent">
    <div class="head-section__container container">
        <h1 class="head-section__title title">Проектирование</h1>
        <div class="head-section__text">Мы обеспечиваем комплексное во всех частях проектирование источников лектроснабжения, в том числе, для объектов
        повышенной ответственности — от первичной концепции до рабочей документации, проходящей все стадии согласований и экспертиз.</div>
    </div>
</section>

<section class="design-page m-indent">
    <div class="link-page__container container">

        <div class="design-page__item">
            <div class="design-page__head">
                <h2 class="design-page__title title">Проектирование генерирующих объектов и систем энергоснабжения</h2>
            </div>
            
            <div class="design-page__subitem">
                <h3 class="design-page__title title">Объекты 1965-2009</h3>
                <div class="table-wrapper">
                    <table class="table" data-table="1">
                        <thead>
                            <tr>
                                <th>Газотурбинные электростанции (ГТЭС)</th>
                                <th>Год</th>
                                <th>Страна</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Уренгойская ГТЭС, Тюменская область</td>
                                <td>1981</td>
                                <td>Россия</td>
                            </tr>
                            <tr>
                                <td>Казымская ГТЭС, Тюменская область</td>
                                <td>1984</td>
                                <td>Россия</td>
                            </tr>
                            <tr>
                                <td>Мирнинская ГТЭС, Якутия</td>
                                <td>1986</td>
                                <td>Россия</td>
                            </tr>
                            <tr>
                                <td>Ленская ГТЭС, Якутия</td>
                                <td>1986</td>
                                <td>Россия</td>
                            </tr>
                            <tr>
                                <td>ГТЭС «Нефтянные Камни»</td>
                                <td>1986</td>
                                <td>Азербайджан</td>
                            </tr>
                            <tr>
                                <td>ГТЭС в п. Пангоды, Ненецкий АО</td>
                                <td>1987</td>
                                <td>Россия</td>
                            </tr>
                            <tr>
                                <td>ГТЭС «Южная», г. Ленинск (Байконур)</td>
                                <td>1981</td>
                                <td>Казахстан</td>
                            </tr>
                            <tr>
                                <td>Тенгизская ГТЭС, Тенгизское НГКМ</td>
                                <td>1990</td>
                                <td>Казахстан</td>
                            </tr>
                            <tr>
                                <td>Ямбургская ГТЭС, п. Ямбург</td>
                                <td>1991</td>
                                <td>Россия</td>
                            </tr>
                            <tr>
                                <td>Ингушская ГТЭС, Республика Ингушетия</td>
                                <td>2009</td>
                                <td>Россия</td>
                            </tr>
                            <tr>
                                <td>КГТУ ПО «Нафтан», г. Новополоцк</td>
                                <td>2000</td>
                                <td>Белоруссия</td>
                            </tr>
                            <tr>
                                <td>ГТЭС в Салехарде</td>
                                <td>2001</td>
                                <td>Россия</td>
                            </tr>
                            <tr>
                                <td>Харвутинская ГТЭС</td>
                                <td>2005</td>
                                <td>Россия</td>
                            </tr>
                            <tr>
                                <td>ГТЭС на Песцовом НГКМ</td>
                                <td>2006</td>
                                <td>Россия</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="link-page__btn btn btn--primary" data-table-load-more="1">
                    <span>Показать больше</span>
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
                </div>

                <div class="gallery-slider">
                    <div class="gallery-slider__items swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image14.webp" data-fancybox="gallery" loading="lazy"
                                    alt="Photo">
                                <span class="gallery-slider__text">ДЭС в Египте</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image15.webp" data-fancybox="gallery" loading="lazy"
                                    alt="Photo">
                                <span class="gallery-slider__text">Здание ДЭС рыбоперерабатывающего комплекса. Перу</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image16.webp" data-fancybox="gallery" loading="lazy"
                                    alt="Photo">
                                <span class="gallery-slider__text">КГТУ ПО "Нафтан". Республика Беларусь</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image17.webp" data-fancybox="gallery" loading="lazy"
                                    alt="Photo">
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image18.webp" data-fancybox="gallery" loading="lazy"
                                    alt="Photo">
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image19.webp" data-fancybox="gallery" loading="lazy"
                                    alt="Photo">
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image20.webp" data-fancybox="gallery" loading="lazy"
                                    alt="Photo">
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                        </div>
                    </div>
                    <div class="arrows">
                        <div class="gallery__arrow-prev arrows__prev">
                            <svg>
                                <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                            </svg>
                        </div>
                        <div class="gallery__arrow-next arrows__next">
                            <svg>
                                <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="gallery-slider__btn btn btn--primary" data-gallery="gallery">
                        <span>Открыть галерею</span>
                    </div>
                    
                </div>
            </div>

            <div class="design-page__subitem">
                <h3 class="design-page__title title">Объекты 2009-настоящее время</h3>
                <div class="design-page__text">
                    <p><strong>АО СЭП сотрудничает с компаниями, входящими в структуру ПАО «Газпром проектирование» (ЮЖНИИгипрогаз, Гипрогазцентр,
                    ВНИПИгаздобыча), выполняющими функции генеральных проектировщиков и подрядчиков строительства электростанций
                    электростанций собственных нужд (ЭСН), в т.ч.:</strong></p>
                </div>

                <div class="table-wrapper">
                    <table class="table" data-table="2">
                        <thead>
                            <tr>
                                <th>Наименование объекта</th>
                                <th>Наименование работ</th>
                                <th>Год</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Южно-Русское месторождение</td>
                                <td>Рабочий проект ГТЭС</td>
                                <td>2006</td>
                            </tr>
                            <tr>
                                <td>Листвянская ГЭС</td>
                                <td>Рабочий проект ГЭС</td>
                                <td>2006</td>
                            </tr>
                            <tr>
                                <td>п. Соловецкий Архангельская обл.</td>
                                <td>РД автоматизированной теплоэлектростанции (ГПЭС)</td>
                                <td>2008</td>
                            </tr>
                            <tr>
                                <td>МГУП «Мосводоканал»</td>
                                <td>РД модернизация насосных станций №2,<br> 3 Северной станции водоподготовки</td>
                                <td>2008</td>
                            </tr>
                            <tr>
                                <td>Заполярное ГНКМ</td>
                                <td>
                                    <p>РД Заполярной ГТЭС. 1 очередь;</p>
                                    <p>ПД Заполярной ГТЭС. 2 очередь;</p>
                                    <p>ПД на реконструкцию ГТЭС-24;</p>
                                    <p>РД Заполярной ГТЭС. 2 очередь;</p>
                                    <p>Корректировка РД Заполярной ГТЭС. 2 <br>очередь в связи с заменой агрегата;</p>
                                    <p>Авторский надзор за строительством</p>
                                </td>
                                <td>
                                    <p>2007-2008</p>
                                    <p>2010</p>
                                    <p>2012</p>
                                    <p>2013-2014</p>
                                    <p>2016-2017</p>
                                    <p>2016-2019</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="link-page__btn btn btn--primary" data-table-load-more="2">
                    <span>Показать больше</span>
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
                </div>

                <div class="gallery-slider">
                    <div class="gallery-slider__items swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image17.webp" data-fancybox="gallery-2"
                                    loading="lazy" alt="Photo">
                                <span class="gallery-slider__text">???</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image18.webp" data-fancybox="gallery-2"
                                    loading="lazy" alt="Photo">
                                <span class="gallery-slider__text">???</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image19.webp" data-fancybox="gallery-2"
                                    loading="lazy" alt="Photo">
                                <span class="gallery-slider__text">Базовая ЭСН. Бованенковское ГНКМ</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image20.webp" data-fancybox="gallery-2"
                                    loading="lazy" alt="Photo">
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image14.webp" data-fancybox="gallery-2" loading="lazy"
                                    alt="Photo">
                                <span class="gallery-slider__text">ДЭС в Египте</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image15.webp" data-fancybox="gallery-2" loading="lazy"
                                    alt="Photo">
                                <span class="gallery-slider__text">Здание ДЭС рыбоперерабатывающего комплекса. Перу</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image16.webp" data-fancybox="gallery-2" loading="lazy"
                                    alt="Photo">
                                <span class="gallery-slider__text">КГТУ ПО "Нафтан". Республика Беларусь</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                        </div>
                    </div>
                    <div class="arrows">
                        <div class="gallery__arrow-prev arrows__prev">
                            <svg>
                                <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                            </svg>
                        </div>
                        <div class="gallery__arrow-next arrows__next">
                            <svg>
                                <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="gallery-slider__btn btn btn--primary" data-gallery="gallery-2">
                        <span>Открыть галерею</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="design-page__item">
            <div class="design-page__head">
                <h2 class="design-page__title title">Проектирование для атомной энергетики</h2>
                <div class="design-page__text">
                    <p>Наиболее ответственное направление нашей деятельности, требующее специальной лицензии Ростехнадзора, допуска СРО, знания
                    большого объема специальных нормативных документов, регламентирующих проектирование и эксплуатацию АЭС.</p>
                </div>
            </div>

            <div class="design-page__subitem">
                <h3 class="design-page__title title">Объекты АЭС 1970-2009</h3>
                <div class="design-page__text">
                    <p>Институтом «Сельэнергопроект» выполнены проекты резервных дизельных электростанций (РДЭС) для АЭС</p>
                </div>

                <div class="table-wrapper">
                    <table class="table" data-table="3">
                        <thead>
                            <tr>
                                <th>Резервные ДЭС систем безопасности АЭС</th>
                                <th>Год</th>
                                <th>Страна</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ленинградская АЭС. Блоки I-IV. РДЭС, РДЭСО</td>
                                <td>1970-2009</td>
                                <td>СССР, Россия</td>
                            </tr>
                            <tr>
                                <td>Белоярская АЭС. Блоки I-III. РДЭС</td>
                                <td>1975-1980</td>
                                <td>СССР</td>
                            </tr>
                            <tr>
                                <td>Армянская АЭС. Блоки І, II. РДЭС</td>
                                <td>1975-1980</td>
                                <td>СССР</td>
                            </tr>
                            <tr>
                                <td>Нововоронежская АЭС. Блоки III- IV. РДЭС</td>
                                <td>1975-1980</td>
                                <td>СССР</td>
                            </tr>
                            <tr>
                                <td>АЭС «Пакш». Блоки І, II. РДЭС</td>
                                <td>1975-1980</td>
                                <td>Венгрия</td>
                            </tr>
                            <tr>
                                <td>Игналинская АЭС. Блок І, II. РДЭС</td>
                                <td>1980-1981</td>
                                <td>СССР</td>
                            </tr>
                            <tr>
                                <td>Кольская АЭС. Блоки I-IV. РДЭС</td>
                                <td>1981-1984</td>
                                <td>Россия</td>
                            </tr>
                            <tr>
                                <td>Курская АЭС. Блоки III-IV. РДЭС</td>
                                <td>1983-1985</td>
                                <td>Россия</td>
                            </tr>
                            <tr>
                                <td>Чернобыльская АЭС. Блоки I-IV. РДЭС</td>
                                <td>1983-1985</td>
                                <td>СССР</td>
                            </tr>
                            <tr>
                                <td>АЭС «Козлодуй». Блоки I-V. РДЭС</td>
                                <td>1982-1985</td>
                                <td>Болгария</td>
                            </tr>
                            <tr>
                                <td>АЭС «Дукованы». Блоки I-II. РДЭС</td>
                                <td>1983-1985</td>
                                <td>Чехия</td>
                            </tr>
                            <tr>
                                <td>Смоленская АЭС. Блоки I-III. РДЭС</td>
                                <td>1982-1985</td>
                                <td>Россия</td>
                            </tr>
                            <tr>
                                <td>Калининская АЭС. Блоки I-IV. РДЭС</td>
                                <td>1984-1986</td>
                                <td>Россия</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="link-page__btn btn btn--primary" data-table-load-more="3">
                    <span>Показать больше</span>
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
                </div>

                <div class="two-images">
                    <figure class="two-images__item">
                        <img src="/src/assets/img/image20.webp" data-fancybox="gallery-3" loading="lazy" alt="Image">
                        <figcaption>Здание РДЭС АЭС Бушер</figcaption>
                    </figure>
                    <figure class="two-images__item">
                        <img src="/src/assets/img/image21.webp" data-fancybox="gallery-3" loading="lazy" alt="Image">
                        <figcaption>Здание РДЭС. Калининская АЭС. Энергоблок №1</figcaption>
                    </figure>
                </div>
            </div>

            <div class="design-page__subitem">
                <h3 class="design-page__title title">Объекты АЭС 2009-настоящее время</h3>
                <div class="design-page__text">
                    <p><strong>АО СЭП сотрудничает с компаниями, выполняющими функции генеральных проектировщиков и подрядчиков строительства атомных
                    электростанций:<br> АО «Атомэнергопроект», АО «КОНЦЕРН ТИТАН-2», АО «ГСПИ».</strong></p>
                    <p><strong>В активе коллектива АО СЭП — подготовленные и разрабатываемые в настоящее время проекты зданий резервных дизельных
                    электростанций для систем аварийного электроснабжения, а также блочных дизельных электростанций для систем нормальной
                    эксплуатации, в т.ч.:</strong></p>
                </div>

                <div class="table-wrapper">
                    <table class="table" data-table="4">
                        <thead>
                            <tr>
                                <th>Наименование объекта</th>
                                <th>Наименование работ</th>
                                <th>Год</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Балтийская АЭС. Блок №1, 2. Здание UBS, UBN</td>
                                <td>Проектная и рабочая документация по зданиям UBS и UBN с промежуточными складами дизельного топлива</td>
                                <td>2013-2015</td>
                            </tr>
                            <tr>
                                <td>Белорусская АЭС. Блок №1, 2. Здание UBS, UBN</td>
                                <td>Проектная и рабочая документация по зданиям UBS и UBN с промежуточными складами дизельного топлива и тоннелями
                                коммуникаций UBZ</td>
                                <td>2012-2017</td>
                            </tr>
                            <tr>
                                <td>АЭС «Бушер»</td>
                                <td>Согласование финальной документации по зданиям ZK1, ZK2, ZK3, ZS2, ZS3, ZS4</td>
                                <td>2015-2016</td>
                            </tr>
                            <tr>
                                <td>Нововоронежская АЭС. Блок №5. Здание РДЭС</td>
                                <td>Рабочая документация второго канала САЭ</td>
                                <td>2009</td>
                            </tr>
                            <tr>
                                <td>Ростовская АЭС. Блок№3. Здание РДЭС</td>
                                <td>Проектная документация по зданию РДЭС с промежуточным складом дизельного топлива</td>
                                <td>2009</td>
                            </tr>
                            <tr>
                                <td>ИЯУ МБИР, г. Димитровград</td>
                                <td>
                                    ПД. Раздел: Разработка электротехнической части паротурбинной установки и системы выдачи мощности многоцелевого быстрого
                                    исследовательского реактора, сопровождение ПД при прохождении ФАУ «Главгосэкспертиза России».
                                    РД. Раздел: Разработка электротехнической части паротурбинной установки и системы выдачи мощности
                                    РД. Раздел: Реконструкция ПС 220 кВ IM в объеме системы выдачи мощности
                                </td>
                                <td>2020-н.в.</td>
                            </tr>
                      
                        </tbody>
                    </table>
                </div>
                <div class="link-page__btn btn btn--primary" data-table-load-more="4">
                    <span>Показать больше</span>
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use></svg>
                </div>

                <div class="gallery-slider">
                    <div class="gallery-slider__items swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image22.webp" data-fancybox="gallery-4"
                                    loading="lazy" alt="Photo">
                                <span class="gallery-slider__text">Ростовская АЭС. Блок №2. Здание РДЭС</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image23.webp" data-fancybox="gallery-4"
                                    loading="lazy" alt="Photo">
                                <span class="gallery-slider__text">Рендер МБИР</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image24.webp" data-fancybox="gallery-4"
                                    loading="lazy" alt="Photo">
                                <span class="gallery-slider__text">Белорусская АЭС. Здание UBS</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image20.webp" data-fancybox="gallery-4"
                                    loading="lazy" alt="Photo">
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image14.webp" data-fancybox="gallery-4"
                                    loading="lazy" alt="Photo">
                                <span class="gallery-slider__text">ДЭС в Египте</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image15.webp" data-fancybox="gallery-4"
                                    loading="lazy" alt="Photo">
                                <span class="gallery-slider__text">Здание ДЭС рыбоперерабатывающего комплекса. Перу</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="swiper-slide gallery-slider__item">
                                <img class="gallery-slider__img" src="/src/assets/img/image16.webp" data-fancybox="gallery-4"
                                    loading="lazy" alt="Photo">
                                <span class="gallery-slider__text">КГТУ ПО "Нафтан". Республика Беларусь</span>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                        </div>
                    </div>
                    <div class="arrows">
                        <div class="gallery__arrow-prev arrows__prev">
                            <svg>
                                <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                            </svg>
                        </div>
                        <div class="gallery__arrow-next arrows__next">
                            <svg>
                                <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="gallery-slider__btn btn btn--primary" data-gallery="gallery-3">
                        <span>Открыть галерею</span>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="design-page__item">
            <div class="design-page__head">
                <h2 class="design-page__title title">Проектирование объектов ТЭК и&nbsp;инженерной инфраструктуры</h2>
                <ul>
                    <li>
                        <h3>Котельные и насосные станции</h3>
                        <ul>
                            <li>Проектирование котельных различной мощности на всех видах топлива, включая их модернизацию и повышение
                            производительности.</li>
                            <li>Проекты насосных станций водоснабжения, канализации и мелиорации с подбором насосного оборудования и систем управления.</li>
                            <li>Проектирование компрессорных станций</li>
                        </ul>
                    </li>
                    <li>
                        <h3>Системы электроснабжения, АСУ и связь</h3>
                        <ul>
                            <li>Проектирование распределительных сетей 0,4-110 кВ, трансформаторных подстанций.</li>
                            <li>Разработка систем автоматизированного управления технологическими Процессами (АСУ ТП)</li>
                            <li>Проектирование структурированных кабельных систем (СКС), локальных вычислительных сетей (ЛВС) и систем оперативной связи.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</section>

{% endblock %}