{% set title = "Наша история" %}
{% extends "layouts/main.njk" %}

{% block content %}

<section class="head-section pb-indent">
    <div class="head-section__container container">
        <h1 class="head-section__title title">Наша история</h1>
        <div class="head-section__subtitle">Полвека в авангарде энергетики</div>
        <div class="head-section__text">История АО «Сельэнергопроект» — это не только хронология лет.
        Это&nbsp;более 50 лет безупречной репутации, сотни реализованных проектов в том числе в тропиках и на вечной мерзлоте.</div>
    </div>
</section>

{% endblock %}