{% set title = "Наша история" %}
{% extends "layouts/main.njk" %}

{% block content %}

{% macro historyMobileArrows() %}
                <div class="history__arrows history__arrows--mobile arrows">
                    <div class="history__arrow-prev arrows__prev">
                        <svg>
                            <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                        </svg>
                    </div>
                    <div class="history__arrow-next arrows__next">
                        <svg>
                            <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                        </svg>
                    </div>
                </div>
{% endmacro %}

<section class="head-section pb-indent">
    <div class="head-section__container container">
        <h1 class="head-section__title title">Наша история</h1>
        <div class="head-section__subtitle">Полвека в авангарде энергетики</div>
        <div class="head-section__text">История АО «Сельэнергопроект» — это не только хронология лет.
        Это&nbsp;более 50 лет безупречной репутации, сотни реализованных проектов в том числе в тропиках и на вечной мерзлоте.</div>
    </div>
</section>

<section class="history">
        <div class="history__progress history-progress">
            <div class="history-progress__wrapper">
                <div class="container">
                    <div class="history-progress__items">
                        <div class="history-progress__line" aria-hidden="true">
                            <div class="history-progress__line-fill"></div>
                        </div>
                        <div class="history-progress__item active"><span>1951</span></div>
                        <div class="history-progress__item"><span>1960 –1980</span></div>
                        <div class="history-progress__item"><span>1983</span></div>
                        <div class="history-progress__item"><span>1990</span></div>
                        <div class="history-progress__item"><span>2000</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="history__container container pb-indent hr-bottom">
            <div class="under-title">История</div>

            <div class="history__blocks history-blocks">
                <section class="history-blocks__item history-block-1 active">
                    <h2 class="history-blocks__title title">1951: Основание. Решения&nbsp;государства</h2>
                    <div class="history-block-1__content">
                        <div class="history-block-1__row">
                            <div class="history-block-1__column">
                                <div class="history-block-1__text text">
                                    <p>Создателем отдела, проектирующего объекты генерации для сельской электрификации (дизельных электростанций, малых ГЭС) стал Сергей Георгиевич Фатюшенко- фронтовик, инженер, электрик. Именно он, как первый руководитель и организатор отдела пусконаладочных работ, взял на себя ответственность за формирование коллектива и закладку тех профессиональных стандартов, которые стали основой всей дальнейшей работы.</p>
                                </div>
                                <figure>
                                    <img src="/src/assets/img/image2.webp" loading="lazy" alt="Image">
                                    <figcaption>Сергей Георгиевич Фатюшенко</figcaption>
                                </figure>
                            </div>
                            <div class="history-block-1__column">
                                <div class="history-block-1__text text">
                                    <p>Летопись организации начинается с Распоряжения Совета Министров СССР от 6 марта 1951 года за подписью И.В. Сталина. Уже
                                    в апреле была создана организация, которой суждено было стать основным проектировщиком электростанций для села.
                                    Государство поставило задачу — обеспечить электроэнергией сельское хозяйство, в том числе в самых удаленных уголках
                                    страны. Для реализации этой цели уже в апреле 1951года был создан институт «Гипросельэлектро».</p>
                                </div>
                                <figure>
                                    <img src="/src/assets/img/image3.webp" loading="lazy" alt="Image">
                                    <figcaption>Коллектив Сельэнергопроект</figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    {{ historyMobileArrows() }}
                </section>

                <section class="history-blocks__item history-block-2">
                    <h2 class="history-blocks__title title">1960-1980: Энергия для развивающегося мира. Становление организации</h2>
                    <div class="history-block-2__row">
                        <div class="history-block-2__column">
                            <div class="history-block-2__text text">
                                <p><strong>Замбия, Мали, Сомали, Куба, Греция, Афганистан, Иран, Вьетнам, Кампучия, Египет, ГДР,</strong> — десятки ДЭС мощностью от 500 кВт до 30 МВт, построенные по нашим проектам, дали энергию развивающимся странами. Мы стали основными специалистами, осуществляющими техническое руководство этими стройками.</p>
                            </div>
                        </div>
                        <div class="history-block-2__column">
                            <h3 class="history-block-2__title">Крайний Север и&nbsp;космос:</h3>
                            <div class="history-block-2__text text">
                                <p>Мы обеспечивали энергией&nbsp;Байконур, города&nbsp;Магадан и Палатку. Наши&nbsp;станции работают в&nbsp;любых условиях, в&nbsp;пустынях и&nbsp;на Крайнем Севере.</p>
                            </div>
                        </div>
                        <div class="history-block-2__column">
                            <h3 class="history-block-2__title">«Энергетический щит» АЭС:</h3>
                            <div class="history-block-2__text text">
                                <p>Мы стали основным проектировщиком резервных дизельных электростанций (РДЭС) для систем безопасности практически всех
                                атомных станций в СССР и странах Восточной Европы: Ленинградской, Смоленской, Курской , Калининской, Белоярской,
                                Южно-Украинской, Кольской, Хмельницкой, Нововоронежской, Ростовской, Запорожской, АЭС в Венгрии, Болгарии,
                                и Чехословакии. Наша работа обеспечивала безопасность миллионов.</p>
                            </div>
                        </div>
                    </div>
                    {{ historyMobileArrows() }}
                </section>

                <section class="history-blocks__item history-block-3">
                    <div class="history-block-3__row">
                        <div class="history-block-3__content">
                            <h2 class="history-block-3__title title">1983: Официальное признание. Проектная организация</h2>
                            <div class="history-block-3__text text">
                                <p>В 1983 году постановлениями Госплана и Госстроя СССР мы были утверждены головной организацией по проектированию
                                дизельных электростанций мощностью свыше 100 кВт. Это было признание нашего высокого уровня проектирования.</p>
                            </div>
                        </div>
                        <div class="history-block-3__img-box">
                            <img class="history-block-3__img" src="/src/assets/img/image5.webp" data-fancybox loading="lazy" alt="Image">
                        </div>
                    </div>
                    {{ historyMobileArrows() }}
                </section>

                <section class="history-blocks__item history-block-4">
                    <h2 class="history-block-4__title title">1990-е: Трансформация и&nbsp;новый вызов</h2>
                    <div class="history-block-4__content">
                        <figure class="history-block-4__img-box">
                            <img class="history-block-4__img" src="/src/assets/img/image4.webp" loading="lazy" alt="Image">
                            <figcaption>Куроптев Сергей Тихонович</figcaption>
                        </figure>
                        <div class="history-blocks__text text">
                            <p>Распад СССР не остановил наше развитие, и в 1992 году ведущими специалистами было создано АО «Сельэнергопроект»,
                            сохранившее коллектив и необходимые компетенции.</p>
                            
                            <p>Институт, сменивший за годы несколько названий — от «Гипросельэлектро» до «Сельэнергопроект», — проектировал дизельные и
                            газотурбинные электростанции по всему миру: Сомали, в Монголии, ГДР, Чехословакии, Кампучии, Болгарии, Венгрии, Египте,
                            Перу, Кубе, Иране, Замбии и Вьетнаме. Когда в начале 1990-х государственные институты остались в прошлом, именно ведущие
                            специалисты, инженеры с большим опытом, не захотели терять наработанную компетенцию. В 1992 году они создали Акционерное
                            общество «Сельэнергопроект» (АО СЭП). Возглавил эту инициативу и стал основателем новой, уже частной компании Сергей
                            Тихонович Куроптев.</p>
                            
                            <p>Под руководством С.Т. Куроптева АО СЭП не просто сохранило наследие советского периода, заложенное при Фатюшенко, но и
                            стало его достойным преемником. Мы взяли из прошлого лучшее — фундаментальные знания, культуру качества и
                            ответственность за каждый объект. И добавили к этому современные технологии, гибкость и клиентоориентированность.</p>
                        </div>
                    </div>
                    {{ historyMobileArrows() }}
                </section>

                <section class="history-blocks__item history-block-5">
                    <h2 class="history-block-5__title title">2000-е: Эра газа и&nbsp;комплексных решений</h2>
                    <div class="history-block-5__row">
                    </div>
                    <div class="history-block-5__row">
                        <div class="history-blocks__text text">
                            <p>Новое время потребовало новые решения. Мы стали лидерами в проектировании не только дизельных, но и газотурбинных (ГТЭС) и&nbsp;газопоршневых (ГПЭС) электростанций:</p>
                        </div>
                        <div class="history-block-5__text text second">
                            <p>Полвека назад нас создало государство для высоких целей. Сегодня мы — команда, которая добровольно выбрала путь
                            развития, качества и ответственности. Мы не просто проектируем электростанции под ключ, мы даем энергию для будущего,
                            обеспечиваем безопасность новых объектов.</p>
                        </div>
                        <div class="history-block-5__block">
                            <div class="history-block-5__block-title">ЭСН для «Газпрома» и «Роснефти»</div>
                            <div class="history-block-5__block-text text">Мы разработали проекты энергоцентров для Южно-Русского, Бованенковского, Заполярного и других месторождений.</div>
                        </div>
                        <div class="history-block-5__block dark">
                            <div class="history-block-5__block-title">Атомная энергетика</div>
                            <div class="history-block-5__block-text text">Мы проектировали РДЭС для новых энергоблоков Ростовской, Калининской, разрабатывали проекты модернизации РДЭС для 
                            большинства действующих блоков АЭС, систем выдачи мощности ИЯУ МБИР.</div>
                        </div>
                    </div>
                    {{ historyMobileArrows() }}
                </section>
            </div>

            <div class="history__arrows history__arrows--desktop arrows">
                <div class="history__arrow-prev arrows__prev">
                    <svg>
                        <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                    </svg>
                </div>
                <div class="history__arrow-next arrows__next">
                    <svg>
                        <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
</section>

{% endblock %}