{% set title = "Хобби" %}
{% extends "layouts/main.njk" %}

{% block content %}
<section class="head-section pb-indent">
    <div class="head-section__container container">
        <h1 class="head-section__title title">Хобби</h1>
        <div class="head-section__text head-section__text--wide">Основной состав Общества – инженеры всех направлений, обладающие опытом работы по проектированию «под ключ»
        электростанций мощностью от 100кВт до 200МВт с двигателями внутреннего сгорания (дизельными и газопоршневыми), газовыми и паровыми турбинами.</div>
    </div>
</section>

<section class="hobby m-indent">
    <div class="container">
        <h2 class="hobby__title title">Энергия созидания: Строгий расчет и свободный галоп</h2>
        <div class="hobby__inner">
            <div class="hobby__text text">
                <p>Десятилетия упорной работы над проектами электростанций не только не ослабили нашего стремления к прекрасному,
                а напротив, укрепили его. Ответственность за сложные технические объекты усилила наши любовь к природе, родной культуре и тонкое понимание гармонии.</p>
                <p>Известное коллегам и партнерам главное увлечение нашего коллектива — <strong>это рысаки.</strong></p>
                <p>История в этом благородном деле началась в 2001 году, когда наш жеребец Паж одержал победу на Дерби в Раменском. Этот
                успех стал символичным стартом и определил наш путь в рысистом коневодстве.</p>
                <p>Сегодня мы поддерживаем племенное поголовье принадлежащим нам лошадей высокого класса, активно сотрудничаем с ведущими
                конными заводами и престижными ипподромами Москвы, Раменского, Саратова и других городов</p>
            </div>
            <div class="hobby__text text">
                <p>Для нас коневодство — это больше чем хобби. Это философия, в которой сочетаются сила, грация, выносливость и точный
                расчет — качества, так созвучные нашей профессиональной деятельности. Выезды на природу, общение с лошадьми снимают
                накопленную усталость, освобождают разум от груза текущих задач и, как следствие, возвращают нас к работе обновленными,
                наполненными силами и идеями.</p>
                <p><strong>Мы верим, что истинная эффективность рождается на стыке дисциплины, знаний ума и свободы духа.</strong></p>
            </div>
        </div>

        <div class="hobby-slider">
            <div class="arrows">
                <div class="swiper-arrows-prev"></div>
                <div class="swiper-arrows-next"></div>
            </div>
            <div class="hobby-slider__items swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide hobby-slider__item">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}