{% set title = "Хобби" %}
{% extends "layouts/main.njk" %}

{% block content %}
<section class="head-section pb-indent">
    <div class="head-section__container container">
        <h1 class="head-section__title title">Хобби</h1>
        <div class="head-section__text head-section__text--wide">Основной состав Общества – инженеры всех направлений, обладающие опытом работы по проектированию «под ключ»
        электростанций мощностью от 100кВт до 200МВт с двигателями внутреннего сгорания (дизельными и газопоршневыми), газовыми и паровыми турбинами.</div>
    </div>
</section>
{% endblock %}