{% set title = "АО СЭ" %}
{% extends "layouts/main.njk" %}

{% block content %}

<main class="main" style="background-image: url('/src/assets/img/main.webp');">
    <div class="container">
        <h1 class="main__title"><strong>АО СЭП</strong> Акционерное общество Сельэнергопроект</h1>
        <p class="main__text">Проектирование и техническое сопровождение</p>
    </div>
</main>

<section class="services mb-indent pb-indent">
    <div class="services__progrees services-progrees">
        <div class="services-progrees__wrapper">
            <div class="container">
                <div class="services-progrees__items">
                    <div class="services-progrees__item active"><span>Предпроектные решения</span></div>
                    <div class="services-progrees__item"><span>Проектирование</span></div>
                    <div class="services-progrees__item"><span>Техническое сопровождение</span></div>
                    <div class="services-progrees__item"><span>Авторский&nbsp;надзор</span></div>
                    <div class="services-progrees__item"><span>Модернизация</span></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="services__container container">
        <div class="under-title">Услуги</div>
    </div>
</section>

{% endblock %}