{% set title = "АО СЭ" %}
{% extends "layouts/main.njk" %}

{% block content %}

<main class="main" style="background-image: url('/src/assets/img/main.webp');">
    <div class="container">
        <h1 class="main__title"><strong>АО СЭП</strong> Акционерное общество Сельэнергопроект</h1>
        <p class="main__text">Проектирование и техническое сопровождение</p>
    </div>
</main>

<section class="services m-indent">
    <div class="container">
    </div>
</section>

{% endblock %}