{% set title = "АО СЭ" %}
{% extends "layouts/main.njk" %}

{% block content %}

<main class="main" style="background-image: url('/src/assets/img/main.webp');">
    <div class="container">
        <h1 class="main__title"><strong>АО СЭ<span>П</span></strong> Акционерное общество Сельэнергопроект</h1>
        <p class="main__text">Проектирование и техническое сопровождение</p>
    </div>
</main>

<section class="services">
    <div class="services__pin">
        <div class="services__progress services-progress">
            <div class="services-progress__wrapper">
                <div class="container">
                    <div class="services-progress__items">
                        <div class="services-progress__line" aria-hidden="true">
                            <div class="services-progress__line-fill"></div>
                        </div>
                        <div class="services-progress__item active"><span>Предпроектные решения</span></div>
                        <div class="services-progress__item"><span>Проектирование</span></div>
                        <div class="services-progress__item"><span>Техническое сопровождение</span></div>
                        <div class="services-progress__item"><span>Авторский&nbsp;надзор</span></div>
                        <div class="services-progress__item"><span>Модернизация</span></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="services__container container pb-indent hr-bottom">
            <div class="under-title">Услуги</div>
            <h2 class="services__title title">Комплексные инженерные решения под ключ</h2>

            <div class="services__blocks services-blocks">
                <div class="services-blocks__item active">
                    <div class="services-blocks__image-box">
                        <img class="services-blocks__image" src="/src/assets/img/platform1.webp" alt="Image">
                    </div>
                    <div class="services-blocks__content">
                        <div class="services-blocks__number">01</div>
                        <h3 class="services-blocks__title">Предпроектные решения</h3>
                        <div class="services-blocks__text text">Сбор исходных данных и технико-экономическое обоснование: подбор оптимального типа станции, топлива, расчет
                        себестоимости энергии, анализ режимов работы</div>
                        <a href="#" class="services-blocks__btn btn btn--white">
                            <span>Подробнее</span>
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="services-blocks__item">
                    <div class="services-blocks__image-box">
                        <img class="services-blocks__image" src="/src/assets/img/platform2.webp" alt="Image">
                    </div>
                    <div class="services-blocks__content">
                        <div class="services-blocks__number">02</div>
                        <h3 class="services-blocks__title">Проектирование</h3>
                        <div class="services-blocks__text text">Проектирование энергетических и промышленных объектов под ключ</div>
                        <a href="#" class="services-blocks__btn btn btn--white">
                            <span>Подробнее</span>
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="services-blocks__item">
                    <div class="services-blocks__image-box">
                        <img class="services-blocks__image" src="/src/assets/img/platform3.webp" alt="Image">
                    </div>
                    <div class="services-blocks__content">
                        <div class="services-blocks__number">03</div>
                        
                        <h3 class="services-blocks__title">Техническое сопровождение</h3>
                        <div class="services-blocks__text text">АО СЭП осуществляет функции технического агента поставщика ДГУ в части комплектации, разработки технической документации(ИТТ, ТЗ, ТУ)</div>
                        <a href="#" class="services-blocks__btn btn btn--white">
                            <span>Подробнее</span>
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="services-blocks__item">
                    <div class="services-blocks__image-box">
                        <img class="services-blocks__image" src="/src/assets/img/platform4.webp" alt="Image">
                    </div>
                    <div class="services-blocks__content">
                        <div class="services-blocks__number">04</div>
                        <h3 class="services-blocks__title">Авторский надзор</h3>
                        <div class="services-blocks__text text">Наша цель — гарантировать полное и точное воплощение в жизнь всех технических решений, заложенных в проектной
                        документации АО «СЭП», а также оперативное устранение любых несоответствий, выявленных в процессе строительства.</div>
                        <a href="#" class="services-blocks__btn btn btn--white">
                            <span>Подробнее</span>
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="services-blocks__item">
                    <div class="services-blocks__image-box">
                        <img class="services-blocks__image" src="/src/assets/img/platform5.webp" alt="Image">
                    </div>
                    <div class="services-blocks__content">
                        <div class="services-blocks__number">05</div>
                        <h3 class="services-blocks__title">Модернизация</h3>
                        <div class="services-blocks__text text">АО СЭП сотрудничает с Филиалами Концерна Росэнергоатом, в рамках договорных отношений с которыми выполняются следующие
                        проекты модернизации действующих АЭС, построенных по проектам АО СЭП ранних лет</div>
                        <a href="#" class="services-blocks__btn btn btn--white">
                            <span>Подробнее</span>
                            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use></svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="services__arrows arrows">
                <div class="services__arrow-prev arrows__prev">
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use></svg>
                </div>
                <div class="services__arrow-next arrows__next">
                    <svg><use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use></svg>
                </div>
            </div>
        </div>

        <section class="about mt-indent">
            <div class="about__inner container pb-indent hr-bottom">

                <div class="about__content">
                    <div class="under-title">О компании</div>
                    <h2 class="about__title title">Сотни проектов в&nbsp;России и&nbsp;за&nbsp;рубежом</h2>
                    <div class="about__text text">
                        <p>Работаем в любых условиях строительства, в том числе на вечной мерзлоте и в тропиках.</p>
                        <p>Для объектов предприятий группы «Газпром», Госкорпорации «Росатом», компаниями нефтегазового комплекса и других
                            отраслей.</p>
                    </div>
                </div>

                <div class="about__image-box">
                    <img class="about__image" src="/src/assets/img/image.webp" loading="lazy" alt="Image">
                    <a href="#" class="about__btn btn btn--white">
                        <span>Узнать больше</span>
                        <svg><use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use></svg>
                    </a>
                </div>
                
            </div>
        </section>
        
    </div>
</section>

<section class="partners m-indent">
    <div class="container">
        <div class="partners__head">
            <div class="partners__head-content">
                <div class="under-title">Партнёры</div>
                <h2 class="partners__title title">Международное сотрудничество и партнёры</h2>
                <div class="partners__text text">Мы выстроили долгосрочные партнёрские отношения с ведущими лидерами в области распределения электроэнергии</div>
            </div>
            <a href="#" class="partners__btn btn btn--primary">
                <span>Все партнёры</span>
                <svg><use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use></svg>
            </a>
        </div>

        <div class="partners__slider">
            <div class="swiper partners-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide partners-slider__item">
                        <img class="partners-slider__img" src="/src/assets/img/partner1.webp" loading="lazy" alt="Logo">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide partners-slider__item">
                        <img class="partners-slider__img" src="/src/assets/img/partner1.webp" loading="lazy" alt="Logo">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide partners-slider__item">
                        <img class="partners-slider__img" src="/src/assets/img/partner1.webp" loading="lazy" alt="Logo">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide partners-slider__item">
                        <img class="partners-slider__img" src="/src/assets/img/partner1.webp" loading="lazy" alt="Logo">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide partners-slider__item">
                        <img class="partners-slider__img" src="/src/assets/img/partner1.webp" loading="lazy" alt="Logo">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide partners-slider__item">
                        <img class="partners-slider__img" src="/src/assets/img/partner1.webp" loading="lazy" alt="Logo">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="partners__btn-mobile btn btn--primary">
            <span>Все партнёры</span>
            <svg><use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use></svg>
        </a>
    </div>
</section>

{% endblock %}