{% set title = "Лицензии и свидетельства" %}
{% extends "layouts/main.njk" %}

{% block content %}

<section class="head-section pb-indent">
    <div class="head-section__container container">
        <h1 class="head-section__title title">Лицензии и свидетельства</h1>
        <div class="head-section__text head-section__text--wide">Основной состав Общества – инженеры всех направлений, обладающие опытом работы по проектированию «под ключ»
        электростанций мощностью от 100кВт до 200МВт с двигателями внутреннего сгорания (дизельными и газопоршневыми), газовыми и паровыми турбинами.</div>
    </div>
</section>

<section class="license m-indent">
    <div class="container">
        <div class="license__row">
            <img class="license__img" src="/src/assets/img/license1.webp" data-fancybox="license" loading="lazy" alt="Image">
            <img class="license__img" src="/src/assets/img/license2.webp" data-fancybox="license" loading="lazy" alt="Image">
            <img class="license__img" src="/src/assets/img/license3.webp" data-fancybox="license" loading="lazy" alt="Image">
        </div>
    </div>
</section>

{% endblock %}