{% set title = "Связь веков" %}
{% extends "layouts/main.njk" %}

{% block content %}
<section class="head-section pb-indent">
    <div class="head-section__container container">
        <h1 class="head-section__title title">Связь веков</h1>
        <div class="head-section__text">Мы выполняем проекты модернизации действующих АЭС, построенных по проектам АО СЭП ранних лет</div>
    </div>
</section>

<section class="link-page m-indent">
    <div class="link-page__container container">
        <div class="link-page__text text">
            <p>Заказчики, объективно оценивая наши текущие возможности, поручают АО СЭП работы по модернизации действующих объектов,
            ранее построенным по проектам Института Сельэнергопроект.</p>
            <p>Так, в 1973 году Институтом Сельэнергопроект была разработана документация на строительство здания резервной дизельной
            электростации энергоблока №3 Белоярской АЭС. В 2024 году, спустя 50 лет успешной эксплуатации указанного объекта, между
            Филиалом концерна Росэнергоатом Белоярской АЭС и АО СЭП, в рамках конкурсных процедур, был заключен договор
            на выполнение проектных работ по теме: «Разработка рабочей, сметной документации по модернизации ДГУ энергоблока №3
            Белоярской АЭС» с заменой основного оборудования и приведения проектируемых систем к существующим нормам проектирования
            АЭС.</p>
            <p>Таким образом наша история - не архив, а рабочий инструмент, который помогает, нам делать будущее надежнее.
            Мы&nbsp;проектируем не на годы, а на десятилетия вперёд.</p>
        </div>

        <h2 class="link-page__title">АО СЭП сотрудничает с Филиалами Концерна Росэнергоатом, в рамках договорных отношений с которыми выполняются следующие
        проекты модернизации действующих АЭС, построенных по проектам АО СЭП ранних лет:</h2>

        <div class="table-wrapper">
            <table class="table" data-table="1">
                <thead>
                    <tr>
                        <th>Наименование объекта</th>
                        <th>Наименование работ</th>
                        <th>Год</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ленинградская АЭС. Блок №3, 4. Здание РДЭС </td>
                        <td>модернизация зд. 613</td>
                        <td>2007-2008</td>
                    </tr>
                    <tr>
                        <td>Ленинградская АЭС-2. Блок №1. Здание UBS, UBN</td>
                        <td>замена компрессорных установок</td>
                        <td>2024-н.в.</td>
                    </tr>
                    <tr>
                        <td>Смоленская АЭС. Блок №1,2. Здание РДЭС</td>
                        <td>модернизация АПС, АПТ</td>
                        <td>2008-2009</td>
                    </tr>
                    <tr>
                        <td>Нововоронежская АЭС. Блок №5. Здание РДЭС</td>
                        <td>
                            <ul>
                                <li>модернизация электротехнической части и автоматики</li>
                                <li>дооснащение ДГ дополнительными КИП</li>
                            </ul>
                        </td>
                        <td>2009 <br>2022-2023</td>
                    </tr>
                    <tr>
                        <td>Балаковская АЭС. Блок №1,2,3. Здание РДЭС</td>
                        <td>замена КУАС-5600 и системы возбуждения ДГ</td>
                        <td>2010-2015</td>
                    </tr>
                    <tr>
                        <td>Балаковская АЭС. Блок №1,2,3. Здание РДЭС</td>
                        <td>замена КУАС-5600 и системы возбуждения ДГ</td>
                        <td>2010-2015</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="link-page__btn btn btn--primary" data-table-load-more="1">
            <span>Показать больше</span>
        </div>

        <div class="two-images">
            <figure class="two-images__item">
                <img src="/src/assets/img/image13.webp" data-fancybox="gallery" loading="lazy" alt="Image">
                <figcaption>Описание</figcaption>
            </figure>
            <figure class="two-images__item">
                <img src="/src/assets/img/image13.webp" data-fancybox="gallery" loading="lazy" alt="Image">
                <figcaption>Описание</figcaption>
            </figure>
        </div>
        
    </div>
</section>

{% endblock %}