{% set title = "Политика в области качества" %}
{% extends "layouts/main.njk" %}

{% block content %}
<section class="head-section pb-indent">
    <div class="head-section__container container">
        <h1 class="head-section__title title">Политика в области качества</h1>
        <div class="head-section__text head-section__text--wide">Основной состав Общества – инженеры всех направлений, обладающие опытом работы по проектированию «под ключ»
        электростанций мощностью от 100кВт до 200МВт с двигателями внутреннего сгорания (дизельными и газопоршневыми), газовыми и паровыми турбинами.</div>
    </div>
</section>

<section class="structure m-indent">
    <div class="structure__container container">
        <div class="structure__sidebar">
            <ul class="structure__list">
                <li class="structure__list-item active" data-tab="1">Политика в области качества, охраны окружающей среды, здоровья и безопасности труда АО СЭП</li>
                <li class="structure__list-item" data-tab="2">Отдел главных инженеров проектов (Отдел ГИП)</li>
            </ul>

            <div class="itc-select structure-select">
                <button type="button" class="itc-select__toggle" value="" data-select="toggle" data-index="-1">Политика в области качества, охраны окружающей среды, здоровья и безопасности труда АО СЭП</button>
                <div class="itc-select__dropdown">
                    <ul class="itc-select__options">
                        <li class="itc-select__option" data-select="option" data-tab="1" data-index="0">Политика в области качества, охраны окружающей среды, здоровья и безопасности труда АО СЭП</li>
                        <li class="itc-select__option" data-select="option" data-tab="2" data-index="1">Политика в области культуры безопасности</li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="structure__content active" data-block="1">
            <h2>Политика в области качества, охраны окружающей среды, здоровья и безопасности труда Акционерного общества
            «Сельэнергопроект»</h2>

            <p>Акционерное общество «Сельэнергопроект» (далее – АО СЭП) является организацией, осуществляющей проектирование отдельных
            сооружений на объектах использования атомной энергии и иных энергетических объектах промышленного и гражданского
            назначения в Российской Федерации и за рубежом.
            АО СЭП настоящим заявляет о своей Политике в области качества, охраны окружающей среды, здоровья и безопасности труда
            (далее – Политика). <br>
            АО СЭП рассматривает управление качеством, охраной окружающей среды, здоровья и безопасности труда как комплекс мер,
            реализуемых при разработке технической документации для промышленных объектов и объектов использования атомной энергии.
            Управление качеством, охраной окружающей среды, здоровья и безопасности труда согласовывается со спецификой деятельности
            и развитием Организации.</p>
            
            <h3>Политика создает основу для установления основных целей АО СЭП:</h3>
            <ul>
                <li>исполнение договорных обязательств и требований применяемых нормативных документов с учетом передовых технологий и опыта
                проектирования при безусловном приоритете ядерной, радиационной, промышленной, физической, пожарной безопасности,
                обеспечения безопасных условий труда и сохранности окружающей среды;</li>
                <li>соответствие требованиям, предъявляемым ГОСТ Р ИСО 9001-2015 и ГОСТ Р ИСО 19443-2020;</li>
                <li>достижение уровня качества, предусмотренного техническим заданием, применимыми нормативными документами, включая
                требования правил и норм ядерной безопасности;</li>
                <li>использование накопленного опыта;</li>
                <li>постоянное улучшение функционирования системы менеджмента качества.</li>
            </ul>
            
            <h3>Методы достижения поставленных целей АО СЭП:</h3>
            <ul>
                <li>организационно-финансовое обеспечение функционирования системы менеджмента качества;</li>
                <li>периодический анализ функционирования системы менеджмента качества;</li>
                <li>повышение квалификации персонала;</li>
                <li>проведение аттестации сотрудников АО СЭП каждые 5 лет;</li>
                <li>развитие информационных технологий;</li>
                <li>применение риск-ориентированного подхода при принятии решений;</li>
                <li>создание руководством АО СЭП обстановки, способствующей достижению требуемого уровня качества;</li>
                <li>проведение внутренних аудитов системы менеджмента качества;</li>
                <li>применение дифференцированного подхода при выполнении работ в зависимости от применимых требований к качеству, влияния
                на безопасность;</li>
                <li>предупреждение травматизма и создание благоприятных условий труда персонала АО СЭП;</li>
                <li>развитие культуры безопасности;</li>
                <li>определение персональной ответственности сотрудников за обеспечение качества в рамках их должностных обязанностей.</li>
            </ul>
                
            <h3>Осознавая ответственность за реализацию Политики, руководство АО СЭП обязуется:</h3>
            <ul>
                <li>гарантировать приоритет обеспечения ядерной безопасности над другими приоритетами в деятельности АО СЭП;</li>
                <li>обеспечивать доведение Политики до сведения всех сотрудников, разъяснять и доносить суть;</li>
                <li>обеспечивать актуальность Политики и доведение внесённых в нее изменений до сведения персонала и других заинтересованных
                сторон;</li>
                <li>обеспечивать ресурсами, необходимыми для функционирования системы менеджмента качества;</li>
                <li>формировать и развивать у сотрудников приверженность культуре безопасности;</li>
                <li>демонстрировать лидерство и приверженность в вопросах безопасности и качества;</li>
                <li>соответствовать применимым требованиям;</li>
                <li>проводить анализ и постоянно улучшать систему менеджмента качества.</li>
            </ul>
            <p>От вклада каждого зависит наш общий успех.</p>
        </section>

        <section class="structure__content" data-block="2">
            <h2>Политика в области культуры безопасности Акционерного&nbsp;общества «Сельэнергопроект»</h2>

            <p>Акционерное общество «Сельэнергопроект» (далее – Организация) определяет формирование, поддержание и развитие культуры
            безопасности как фундаментальную основу обеспечения безопасности выполняемых работ.</p>
            
            <h3>Основными принципами формирования, поддержания и развития культуры безопасности в Организации являются:</h3>
            <ul>
                <li>принцип соответствия – обеспечение соответствия деятельности Организации применимым законодательным и нормативным
                требованиям, неукоснительное выполнение каждым сотрудником норм и правил в области обеспечения безопасности;</li>
                <li>принцип приоритета безопасности – обеспечение безопасности при принятии управленческих решений;</li>
                <li>принцип лидерства – демонстрирование руководителями всех уровней приверженности безопасности, создание атмосферы
                открытости и доверия для формирования у подчинённого персонала внутренней потребности позитивного отношения к
                безопасности, обеспечение понимания каждым сотрудником влияния его деятельности на безопасность и последствий, к которым
                может привести невыполнение установленных требований;</li>
                <li>принцип постоянного совершенствования – систематический мониторинг состояния и совершенствование культуры безопасности,
                выявление возможностей для улучшения процессов Организации, выявление и распространение положительных практик.</li>
            </ul>
            <h3>Формирование и развитие культуры безопасности в Организации осуществляется путём:</h3>
            <ul>
                <li>обеспечения соответствия деятельности Организации применимым законодательным и нормативным требованиям;</li>
                <li>подбора и обеспечения необходимой квалификации сотрудников;</li>
                <li>строгого соблюдения дисциплины при чётком распределении полномочий и персональной ответственности руководителей и
                исполнителей;</li>
                <li>учета накопленного опыта и распространения положительных практик посредством внутреннего обучения;</li>
                <li>обеспечения вовлеченности сотрудников в деятельность по безопасности и поддержки всеми доступными ресурсами;</li>
                <li>информирования персонала по вопросам обеспечения безопасности;</li>
                <li>формирования атмосферы доверия и уважения, при которой сотрудники всех уровней могут сообщать руководству о любых
                ошибках и проблемах безопасности;</li>
                <li>формирования у сотрудников внутренней критической позиции, самоконтроля своей деятельности, влияющей на безопасность;</li>
                <li>обеспечения постоянного повышения профессиональных навыков и квалификации персонала;</li>
                <li>мониторинга состояния и развития культуры безопасности.</li>
            </ul>
            
            <p>Руководство Организации принимает на себя всю полноту ответственности за безопасность и качество предоставляемых услуг и
            ожидает от своих сотрудников осознанного выбора безопасных действий и подхода к выполнению своей профессиональной
            деятельности.</p>
            
            <h3>Осознанный выбор безопасных действий каждого сотрудника является важным элементом достижения высокого уровня культуры
            безопасности!</h3>
        </section>

    </div>
</section>

{% endblock %}