{% set title = "Авторский надзор" %}
{% extends "layouts/main.njk" %}

{% block content %}
<section class="head-section pb-indent">
    <div class="head-section__container container">
        <h1 class="head-section__title title">Авторский надзор</h1>
        <div class="head-section__text head-section__text--full">Наша цель — гарантировать полное и точное воплощение в жизнь всех технических решений, заложенных в проектной документации АО «СЭП», а также оперативное устранение любых несоответствий, выявленных в процессе строительства.</div>
    </div>
</section>

<section class="supervision m-indent">
    <div class="container">
        <section class="supervision__content">
            <section class="supervision__content-block">
                <h2 class="supervision__title title">Принципы и нормативная основа</h2>
                <p><strong>Авторский надзор в нашей компании осуществляется в строгом соответствии</strong></p>
                <ul>
                    <li>актуальным требованиям законодательства РФ (СП 11-110-99 и др.)</li>
                    <li>корпоративному стандарту СТП «Авторский надзор и авторское сопровождение проекта», являющимся частью нашей системы менеджмента качества (СМК)</li>
                </ul>
            </section>
            <section class="supervision__content-block">
                <h2 class="supervision__title title">Организация процесса</h2>
                <p>Общее руководство и ответственность за авторский надзор по каждому объекту несет Главный инженер проекта (ГИП).</p>
                <p>Для каждого объекта, по которому заключен договор, издается приказ Генерального директора. В нем назначаются конкретные
                специалисты из профильных подразделений, уполномоченные вести авторский надзор и утверждается график их посещений
                строительной площадки.</p>
            </section>
        </section>

        <section class="supervision__slider gallery-slider">
            <div class="gallery-slider__items swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image28.webp" data-fancybox="gallery-4"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">ГТЭС Коло-Крик. Нигерия</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image29.webp" data-fancybox="gallery-4"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">ГТЭС 24. Заполярное ГНКМ. Ямал</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image30.webp" data-fancybox="gallery-4"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">Ленинградская АЭС. Блок 3. ДГУ</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image31.webp" data-fancybox="gallery-4"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">Ростовская АЭС ДГУ</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image14.webp" data-fancybox="gallery-4"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">ДЭС в Египте</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image15.webp" data-fancybox="gallery-4"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">Здание ДЭС рыбоперерабатывающего комплекса. Перу</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image16.webp" data-fancybox="gallery-4"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">КГТУ ПО "Нафтан". Республика Беларусь</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                </div>
            </div>
            <div class="arrows">
                <div class="gallery__arrow-prev arrows__prev">
                    <svg>
                        <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                    </svg>
                </div>
                <div class="gallery__arrow-next arrows__next">
                    <svg>
                        <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                    </svg>
                </div>
            </div>
        </section>

        <section class="supervision__tasks mt-indent">
            <div class="container">
                <h2 class="supervision__title title">Функции и задачи специалистов</h2>
                <div class="supervision__tasks-text">
                    <p>Назначенные специалисты в рамках авторского надзора:</p>
                </div>
                <div class="supervision__tasks-items">
                    <div class="supervision__tasks-item">
                        <img class="supervision__tasks-item-icon" src="/src/assets/img/svg/tick.svg" loading="lazy" alt="Icon">
                        <div class="supervision__tasks-item-content">
                            <p>Проводят выездные проверки в соответствии с графиком или по специальному вызову с целью:</p>
                            <ul>
                                <li>промежуточной приемки ответственных конструкций;</li>
                                <li>o освидетельствования скрытых работ.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="supervision__tasks-item">
                        <img class="supervision__tasks-item-icon" src="/src/assets/img/svg/tick.svg" loading="lazy" alt="Icon">
                        <div class="supervision__tasks-item-content">
                            <p>Фиксируют все ключевые события в Журнале авторского надзора:</p>
                            <ul>
                                <li>выявленные отступления от проектной документации;</li>
                                <li>o замечания и предписания;</li>
                                <li>o ход работ по их устранению;</li>
                                <li>o выпуск откорректированной документации.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="supervision__tasks-item">
                        <img class="supervision__tasks-item-icon" src="/src/assets/img/svg/tick.svg" loading="lazy" alt="Icon">
                        <div class="supervision__tasks-item-content">
                            <p>Оперативно решают технические вопросы, возникающие у заказчика и подрядчика на месте</p>
                        </div>
                    </div>
                    <div class="supervision__tasks-item">
                        <img class="supervision__tasks-item-icon" src="/src/assets/img/svg/tick.svg" loading="lazy" alt="Icon">
                        <div class="supervision__tasks-item-content">
                            <p>Своевременно вносят необходимые изменения в проектную документацию в установленном порядке</p>
                        </div>
                    </div>
                </div>
                <div class="supervision__tasks-text">
                    <p>Общую координацию всех работ по авторскому надзору на объекте осуществляет Руководитель авторского надзора, также
                    назначаемый приказом Генерального директора.</p>
                </div>
            </div>
        </section>

        <section class="supervision__content-bottom">
            <div class="container">
                <h2 class="supervision__title title">Документооборот и ответственность</h2>
                <p>Журнал авторского надзора является ключевым исполнительным документом. На период строительства его сохранность
                и обеспечение доступа к нему для всех уполномоченных сторон (надзорные органы, проектировщик, заказчик, субподрядчики)
                обеспечивает подрядная организация; После завершения строительства подрядчик передает заполненный журнал заказчику для
                архивирования.</p>
                <p>Подробный регламент процедур авторского надзора и проектного сопровождения в АО «СЭП» изложен в внутреннем стандарте СТП
                «Авторский надзор и авторское сопровождение проекта».</p>
                <p>Для нас авторский надзор — не формальность, а важнейший этап работы, обеспечивающий качество, безопасность
                и долговечность создаваемых энергообъектов.</p>
            </div>
        </section>
        
    </div>
</section>

{% endblock %}