{% set title = "Техническое сопровождение" %}
{% extends "layouts/main.njk" %}

{% block content %}
<section class="head-section pb-indent">
    <div class="head-section__container container">
        <h1 class="head-section__title head-section__title--short title">Техническое сопровождение</h1>
        <div class="head-section__text head-section__text--full">АО СЭП осуществляет функции технического агента поставщика ДГУ в части комплектации, разработки технической документации
        (ИТТ, ТЗ, ТУ), техническом содействии при изготовлении ДГУ&nbsp;и&nbsp;вспомогательного оборудования комплектной поставки по следующим объектам:</div>
    </div>
</section>

<section class="support-page m-indent">
    <div class="container">
        <h2 class="support-page__title title">Мы осуществляем:</h2>

        <div class="support-page__items">
            <div class="support-page__item">
                <img class="support-page__item-icon" src="/src/assets/img/svg/tick.svg" loading="lazy" alt="Icon">
                <div class="support-page__item-text">Функции технического агента поставщика ДГУ в части комплектации, разработки технической документации (ИТТ, ТЗ, ТУ), техническом содействии при изготовлении ДГУ и вспомогательного оборудования комплектной поставки.</div>
            </div>
            <div class="support-page__item">
                <img class="support-page__item-icon" src="/src/assets/img/svg/tick.svg" loading="lazy" alt="Icon">
                <div class="support-page__item-text">Технический надзор за монтажом и пусконаладкой сложного оборудования электростанций, систем АСУ ТП.</div>
            </div>
            <div class="support-page__item">
                <img class="support-page__item-icon" src="/src/assets/img/svg/tick.svg" loading="lazy" alt="Icon">
                <div class="support-page__item-text">Ведение переговоров, проверка и адаптация проектной документации, предоставляемой поставщиками.</div>
            </div>
            <div class="support-page__item">
                <img class="support-page__item-icon" src="/src/assets/img/svg/tick.svg" loading="lazy" alt="Icon">
                <div class="support-page__item-text">Контроль и соответствия оборудования проектным требованиям и нормам нормативной документации.</div>
            </div>
        </div>

        <div class="table-wrapper">
            <table class="table" data-table="1">
                <thead>
                    <tr>
                        <th>Наименование объекта</th>
                        <th>Наименование работ</th>
                        <th>Год</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>АЭС «Бушер». Иран. ДГУ САЭ и СНЭ</td>
                        <td>Техническое сопровождение изготовления и поставки ДГУ АО «Коломенский завод» под требования проекта АЭС «Бушер»
                        </td>
                        <td>1998-2002</td>
                    </tr>
                    <tr>
                        <td>Ростовская АЭС. Блок №2,3,4</td>
                        <td>Техническое сопровождение изготовления и поставки ДГУ Adriadiesel под требования проекта Ростовской АЭС</td>
                        <td>2007-2018</td>
                    </tr>
                    <tr>
                        <td>Калининская АЭС. Блок №3</td>
                        <td>Техническое сопровождение изготовления и поставки ДГУ АСД-5600 «Русский дизель» под требования проекта Калининской АЭС</td>
                        <td>2010-2012</td>
                    </tr>
                    <tr>
                        <td>Балтийская АЭС. Блок №1,2. ДГУ САЭ и СНЭ</td>
                        <td>Техническое сопровождение изготовления и поставки ДГУ MTU, САУ ДГУ под требования проекта Балтийской АЭС</td>
                        <td>2012-2015</td>
                    </tr>
                    <tr>
                        <td>Белорусская АЭС. Блок №1,2. ДГУ САЭ и СНЭ</td>
                        <td>Техническое сопровождение изготовления и поставки ДГУ MTU, САУ ДГУ, холодильных установок и центральных кондиционеров
                        под требования проекта Белорусской АЭС</td>
                        <td>2017-2019</td>
                    </tr>
                    <tr>
                        <td>Ленинградская АЭС-2. Блок №2. ДГУ САЭ и СНЭ</td>
                        <td>
                            Техническое сопровождение интеграции оборудования ДГУ MAN, САУ ДГУ, поставленных для Балтийской АЭС под требования
                            проекта Ленинградской АЭС-2
                        </td>
                        <td>2017-2019</td>
                    </tr>
        
                </tbody>
            </table>
        </div>
        <div class="link-page__btn btn btn--primary" data-table-load-more="1">
            <span>Показать больше</span>
            <svg>
                <use href="/src/assets/img/svg-sprite/sprite.svg#arrow"></use>
            </svg>
        </div>

        <div class="gallery-slider">
            <div class="gallery-slider__items swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image25.webp" data-fancybox="gallery-4" data-caption="АЭС Аккую. ДГ Bergen"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">АЭС Аккую. ДГ Bergen</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image26.webp" data-fancybox="gallery-4" data-caption="Калининская АЭС. ДГ Русский дизель"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">Калининская АЭС. ДГ Русский дизель</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image27.webp" data-fancybox="gallery-4" data-caption="Белорусская АЭС. ДГ MTU"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">Белорусская АЭС. ДГ MTU</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image20.webp" data-fancybox="gallery-4" data-caption=""
                            loading="lazy" alt="Photo">
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image14.webp" data-fancybox="gallery-4" data-caption="ДЭС в Египте"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">ДЭС в Египте</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image15.webp" data-fancybox="gallery-4" data-caption="Здание ДЭС рыбоперерабатывающего комплекса. Перу"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">Здание ДЭС рыбоперерабатывающего комплекса. Перу</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                    <div class="swiper-slide gallery-slider__item">
                        <img class="gallery-slider__img" src="/src/assets/img/image16.webp" data-fancybox="gallery-4" data-caption="КГТУ ПО `Нафтан`. Республика Беларусь"
                            loading="lazy" alt="Photo">
                        <span class="gallery-slider__text">КГТУ ПО "Нафтан". Республика Беларусь</span>
                        <div class="swiper-lazy-preloader"></div>
                    </div>
                </div>
            </div>
            <div class="arrows">
                <div class="gallery__arrow-prev arrows__prev">
                    <svg>
                        <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                    </svg>
                </div>
                <div class="gallery__arrow-next arrows__next">
                    <svg>
                        <use href="/src/assets/img/svg-sprite/sprite.svg#long-arrow"></use>
                    </svg>
                </div>
            </div>

            <div class="gallery-slider__btn btn btn--primary" data-gallery="gallery-4">
                <span>Открыть галерею</span>
            </div>
            
        </div>

    </div>
</section>

{% endblock %}