.hobby {
    overflow: hidden;
    
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: r(32);
        margin: slamp(r(40), r(56)) 0 0;

        @include media('<sm') {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__title {
        max-width: r(950);
    }
}

.hobby-slider {
    position: relative;
    margin: slamp(r(40), r(80)) 0 0;

    // &__items {
    //     overflow: visible;
    // }

    &__btn {
        margin: slamp(r(24), r(32)) auto 0;
    }

    .swiper-slide {
        width: auto;
    }

    &__item {
        width: auto;
        height: auto;
    }

    &__img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: r(282);
        object-fit: cover;
    }

    .arrows {
        position: absolute;
        top: r(-24);
        right: 0;
        z-index: 10;
        transform: translateY(-100%);

        @include media('<sm') {
            position: relative;
            transform: none;
            top: 0;
            margin: r(40) auto 0;
            justify-content: center;
        }
    }
}