.hobby {
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: r(32);
        margin: slamp(r(40), r(56)) 0 0;
    }

    &__title {
        max-width: r(950);
    }
}

.hobby-slider {
    margin: slamp(r(40), r(56)) 0 0;

    .swiper-slide {
        width: auto;
    }

    &__item {
        width: auto;
        height: auto;
    }

    &__img {
        display: block;
        width: auto;
        max-width: none;
        height: r(282);
        object-fit: cover;
    }
}