.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: slamp(r(600), r(860));
    max-height: 100dvh;
    aspect-ratio: 1550 / 860;
    padding: r(156) 0 r(120);
    background-color: var(--gray);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    @include media('<xs') {
        justify-content: flex-start;
        height: 100dvh;
        max-height: r(860);
    }

    &__title {
        max-width: slamp(r(400), r(954));
        color: var(--white);
        font-weight: 600;
        font-size: slamp(r(24), r(56));
        line-height: 130%;
        text-transform: uppercase;

        strong {
            display: block;
            font-weight: 600;
            font-size: slamp(r(64), r(150));
            line-height: 110%;
        }
    }

    &__text {
        margin: slamp(r(32), r(56)) 0 0;
        font-weight: 600;
        font-size: slamp(r(16), r(32));
        line-height: 120%;
        color: var(--white);
    }
}

.services {
    overflow: hidden;
    background: var(--light);

    &__container {
        margin-top: slamp(r(56), r(80));
    }
}

.services-progrees {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: r(8);
        background: var(--white);
    }

    &__wrapper {
        position: relative;
        padding-bottom: r(8);
        overflow-x: auto;
        @include noscroll;
    }
    
    &__items {
        position: relative;
        display: flex;
        align-items: center;
        gap: r(24);
        min-width: r(600);

        &::before {
            content: '';
            position: absolute;
            bottom: r(-18);
            bottom: 0;
            left: r(-800);
            height: r(8);
            width: r(800);
            background: var(--primary);
            transform: translateY(r(8));
        }
    }

    &__item {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        min-height: r(80);
        font-size: slamp(r(12), r(20));
        line-height: 120%;
        color: var(--gray-100);
        cursor: pointer;
        transition: .3s;

        span {
            display: block;
            max-width: r(190);
        }

        @include media('<sm') {
            &:last-of-type {
                padding-right: r(15);
            }
        }

        &.active {
            color: var(--primary);
            cursor: default;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: r(-18);
                bottom: 0;
                height: r(8);
                border-radius: 0 r(12) r(12) 0;
                background: var(--primary);
                transform: translateY(r(8));
            }
        }

        &:hover {
            color: var(--primary);
        }
    }
}